/* Styling for the question header and buttons */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #eaeae0;
  padding: 10px 20px;
}

header #pageTitle {
  font-size: 18px;
  color: #000;
}

header #welcomeText {
  font-size: 12px;
  color: #362b2b;
}

header #askButton {
  background-color: #007bff;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: 10px;
}

header #askButton:hover {
  background-color: #0056b3;
}
