.buttonColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  color: #1e1515;
  font-size: 2rem;
  font-weight: bold;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-left: 200px;
  margin-bottom: 20px;
}

.banner #searchBar {
  padding: 10px;
  border: none;
  font-size: 1rem;
}

.profilePage {
  text-align: center;
  background: linear-gradient(to right, #00a1ff, #007bff);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.profilePage h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.profilePage span {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile-btn {
  margin: 20px; 
}

.profile-btn-group {
  position: relative;
}

.profile-btn-group button:hover {
  background-color: #0056b3;
}

.profile-btn-group button {
  background-color: #c6dde7;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(15, 15, 15);
  padding: 10px 24px;
  cursor: pointer;
  margin-right: 10px;
}

.profile-btn-group button.active {
  background-color: #0056b3;
}
