/* Styling for the answers page */

#answersHeader {
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-all;
  background-color: #eaeae0;
  
}

/* Styling for the answers list */
.answer-list {
  border-top: 1px dotted #ccc;
  overflow: auto;
}

/* Styling for individual answers */
.answer {
  border-bottom: dotted;
  flex-flow: column wrap;
}

.answerText {
  font-size: 15;
  text-align: left;
  margin: 10px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.answerAuthor {
  font-size: 15;
  text-align: right;
}

.answer svg {
  fill: green !important;
}

/* Styling for the comment list */
.comment-list {
  font-size: 0.75em;
  border-top: 1px dotted #ccc;
  max-height: 100px;
  overflow: auto;
}

/* Styling for individual comment */
.comment {
  border-bottom: dotted;
  flex-flow: column wrap;
}

.commentText {
  text-align: left;
  margin: 10px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.commentAuthor {
  font-size: 0.75em;
  text-align: right;
}

/* Styling for the comment form */
.comment-form {
  font-size: 0.75em;
  border-top: 1px dotted #ccc;
  max-height: 100px;
  overflow: auto;
}

/* Question stylings */

#questionBody {

  font-size: 15;
  text-align: left;
  margin: 10px;
  overflow-wrap: normal;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.questionText {
  font-size: 15;
  text-align: left;
  width: 80%; 
  margin: 10px;
  overflow-wrap: normal;
  white-space: pre-line;
}

.questionMetadata {
  font-size: 15;
  text-align: right;
}

#addAnswerBtn {
  background-color: #007bff;
  color: white;
  border: solid;
  border-color : black;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  margin-top: 50px;
}